<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>manager.local</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>manager</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AcmMvcApp.Models.UsersContext, AcmMvcApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClientContext" Order="2" Enabled="True">
          <Destination Path="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Users\DELL Inspiron15\Documents\Visual Studio 2017\Projects\AcmMvcApp\AcmMvcApp\App_Data\aspnet-AcmMvcApp-20170619222827.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-AcmMvcApp-20170619222827.mdf;Initial Catalog=aspnet-AcmMvcApp-20170619222827;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ClientContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=aspnet-AcmMvcApp-20170619222827; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|\aspnet-AcmMvcApp-20170619222827.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ClientContext-Web.config Connection String">
      <ParameterValue>data source=.\SQLEXPRESS;attachdbfilename="C:\Users\DELL Inspiron15\Documents\Visual Studio 2017\Projects\AcmMvcApp\AcmMvcApp\App_Data\aspnet-AcmMvcApp-20170619222827.mdf";integrated security=True;connect timeout=30;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
</Project>